body {
    /*min-width: 800px;*/
    margin: auto;
}
header {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px;
    
}

.usuario-title-container {
    cursor: pointer;
    margin-bottom: 10px;
}

.handling-usuario-wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    
    padding: 20px;
    width: 800px;
    align-content: center;
    justify-content: center;
}

.id-wrapper {
    margin-top: 10px;
}

/*=========Seccion alta de usuario=========*/

.alta-usuario-form-container {
    display: none; 
}

/*=========End Seccion alta de usuario=========*/

.user-table-and-search-bar-container {
    display: none;
}


/*=========Seccion listado de usuario=========*/

.user-table-wrapper {
    overflow-y: scroll;
    max-height: 300px;    
    margin-bottom: 10px;
    border: 1px solid;
    border-radius: 5px;
    padding: 2px;
   

}

.user-profile-picture {
    display: block;
    overflow: hidden;
    height: 80px;
    border-radius: 50px;
    
}

/*=========End Seccion listado de usuario=========*/