body {
    /*min-width: 800px;*/
    margin: auto;
}
header {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px;
    
}

.usuario-title-container {
    cursor: pointer;
    margin-bottom: 10px;
}

.handling-usuario-wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    
    padding: 20px;
    width: 800px;
    align-content: center;
    justify-content: center;
}

.id-wrapper {
    margin-top: 10px;
}

/*=========Seccion alta de usuario=========*/

/*.alta-usuario-form-container {
    display: none; 
}*/

/*=========End Seccion alta de usuario=========*/




/*=========Seccion listado de usuario=========*/

/*.user-table-and-search-bar-container {
    display: none;
}*/

td {
    align-content: center;
}

.user-table-wrapper {
    overflow-y: scroll;
    max-height: 300px;    
    margin-bottom: 10px;
    border: 1px solid #E9ECEF;
    border-radius: 5px;
    padding: 2px;   

}

/*===== Diseños de la scroll bar en el contenedor de lista de usuarios =====*/
.user-table-wrapper::-webkit-scrollbar {
    background: #E9ECEF;
    border-radius: 10px;
}
.user-table-wrapper::-webkit-scrollbar-track {    
    border-radius: 50px;
}
.user-table-wrapper::-webkit-scrollbar-thumb {
    background: #C1C1C1; 
    border-radius: 10px;
}

/*===== End Diseños de la scroll bar en el contenedor de lista de usuarios =====*/

  

.user-profile-picture {
    display: block;
    overflow: hidden;
    height: 80px;
    border-radius: 50px;
    
}

/*=========End Seccion listado de usuario=========*/